# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
venv/

# Env
.env
.env.*

# Docker
*.log
docker/*.tar

# Terraform (future safety)
.terraform/
*.tfstate
*.tfstate.backup

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db